<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096942460789-06qo6h24jnh9occt63uc2amqaie17l2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096942460789-06qo6h24jnh9occt63uc2amqaie17l2f</string>
	<key>API_KEY</key>
	<string>AIzaSyDINUXEyRbkMmpZjqWJgMmZL8oRx5ebHAo</string>
	<key>GCM_SENDER_ID</key>
	<string>1096942460789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecocommit</string>
	<key>PROJECT_ID</key>
	<string>ecocommit</string>
	<key>STORAGE_BUCKET</key>
	<string>ecocommit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096942460789:ios:238ce18970e4f05c947d3c</string>
</dict>
</plist>